<div class="card-column">
  <div class="card" style="width: 20rem;">
    <div class="card-header text-center">
      500 Error
    </div>
    <div class="card-block">
      {{error}}
    </div>
  </div>
</div>
