<div class="card-column">
  <div class="card" style="width: 20rem;">
    <div class="card-header text-center">
      {{title}}
    </div>
    <div class="card-block">
      <!--<embed src="test.asx">-->
            <EMBED TYPE="application/x-vlc-plugin" name="stream1" controls="true" autoplay="yes" loop="no" target={{video}}></EMBED>
    </div>
  </div>
</div>
